/* CONTROL */
.control {
  background: linear-gradient(to bottom, var(--dark-gray) 93%, #fff 7%);
  font-size: 16px;
  padding: 30px 0;
}
.control__description {
  position: relative;
  margin-top: 4em;
  text-align: center;
  max-width: 650px;
  color: var(--white);
  padding: 0 10px;
}
.control__description:after {
  content: '';
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 2px;
  border-radius: 20%;
  background: var(--gold);
}
/* CONTROL MEDIA */
@media screen and (min-width: 576px) {
  .control {
    font-size: 18px;
    background: linear-gradient(to bottom, var(--dark-gray) 94%, #fff 6%);
  }
}
@media screen and (min-width: 992px) {
  .control {
    font-size: 20px;
    /* background: url(../../img/city-bg.png) no-repeat 0px -120%,
      linear-gradient(to top, #fff 60%, var(--dark-gray) 40%); */
    background: url(../../img/city-bg.png) repeat-x 0px -138%,
      linear-gradient(to top, #fff 60%, var(--dark-gray) 40%);
  }
  .control__description {
    color: var(--dark);
  }
}
@media screen and (min-width: 1200px) {
}
