/* CONTROL */
.control {
  padding: 10px 0;
  font-size: 16px;
  background: linear-gradient(to bottom, var(--dark-gray) 95%, #fff 5%);
}

.control__description {
  position: relative;
  max-width: 650px;
  padding: 0 10px;
  margin-top: 4em;
  color: var(--white);
  text-align: center;
}

.control__description::after {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 70px;
  height: 2px;
  content: '';
  background: var(--gold);
  border-radius: 20%;
  transform: translateX(-50%);
}

/* CONTROL MEDIA */
@media screen and (min-width: 576px) {
  .control {
    font-size: 18px;
    background: linear-gradient(to bottom, var(--dark-gray) 94%, #fff 6%);
  }
}

@media screen and (min-width: 992px) {
  .control {
    font-size: 20px;

    /* background: url(../../img/city-bg.png) no-repeat 0px -120%,
      linear-gradient(to top, #fff 60%, var(--dark-gray) 40%); */
    background: linear-gradient(to top, #fff 60%, var(--dark-gray) 40%);
  }

  .control__description {
    color: var(--dark);
  }
}

@media screen and (min-width: 1200px) {
}
