/* HEADER */
.header {
  position: relative;
}

.no-webp .header,
.no-js .header {
  background: black center / cover url(../../img/header-bg.jpg);
}

.webp .header {
  background: black center / cover url(../../img/header-bg.webp);
}

.header__instagram-link {
  display: none;
}

.header__scroll-down {
  display: none;
}

/* HEADER MEDIA */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 992px) {
  .header__instagram-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    font-family: var(--caption-font);
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--dark);
    writing-mode: vertical-lr;
  }

  .header__instagram-link::after {
    margin-top: 20px;
    font-size: 2em;
    content: '\2192';
    transition: all 0.3s;
  }

  .header__instagram-link:hover.header__instagram-link::after,
  .header__instagram-link:focus.header__instagram-link::after {
    transform: translateY(15px);
  }

  .header__scroll-down {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    font-family: var(--title-font);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--dark);
  }

  .header__scroll-down span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    font-weight: bold;
    color: var(--gold);
    border: 1.5px solid var(--gold);
    border-radius: 50%;
  }
}

@media screen and (min-width: 1200px) {
}
