/* LOCATION */
.location {
  background: var(--dark-gray);
}
.location__link-list {
  order: 4;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.location__link-item {
  height: 36px;
  width: 36px;
  background: var(--gold);
  border-radius: 50%;
  padding: 8px;
  margin: 0.3em;
  display: inline-block;
}
.location__link {
}
.location__link svg {
  fill: #fff;
}
.location__map {
  order: 2;
  background: green;
  height: 100%;
  width: 100%;
}
/* LOCATION MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  .location {
    margin-top: 200px;
    position: relative;
    padding-bottom: 50px;
  }
  .location__link-list {
    z-index: 1;
  }
  .location:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
  }
  .webp .location {
    background: center / cover url(../../img/bgs/location-bg.webp) no-repeat;
  }
  .no-webp .location {
    background: center / cover url(../../img/bgs/location-bg.png) no-repeat;
  }
}
@media screen and (min-width: 1200px) {
}
