/* PAGE */
* {
  box-sizing: border-box;
}
.page {
  font-family: var(--main-font);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.page *:focus {
  outline: 0;
  outline: 3px solid var(--white);
}
/* PAGE MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
