/* PAGE */
* {
  box-sizing: border-box;
}
.page {
  font-size: 16px;
  font-family: var(--main-font);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.page__body {
  overflow: hidden;
}
.page *:focus {
  outline: 0;
  outline: 3px solid var(--white);
}
/* PAGE MEDIA */
@media screen and (min-width: 576px) {
  /* .page {
    font-size: 18px;
  } */
}
@media screen and (min-width: 992px) {
  /* .page {
    font-size: 20px;
  } */
}
@media screen and (min-width: 1200px) {
  /* .page {
    font-size: 22px;
  } */
}
@media screen and (min-width: 2000px) {
  /* .page {
    font-size: 30px;
  } */
}
