/* SLIDER */
.slider-wrapper {
  width: 100%;
  max-width: 500px;
}
.slider {
  font-size: 16px;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 50px;
}
.slider__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--white);
}

/* SLIDER MIXES */
/* SLIDER MEDIA */
@media screen and (min-width: 576px) {
  .slider {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .slider-wrapper {
    width: 60%;
    max-width: none;
  }
  .swiper-pagination {
    position: relative;
  }
  .swiper-pagination-bullet {
    display: inline-flex;
    padding: 5px;
    margin: 0 5px 0 5px;
    border-radius: 50%;
    background: var(--white);
  }
  .swiper-next-custom,
  .swiper-prev-custom {
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
    position: relative;
  }
  .slider_gallery {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    outline: 2px;
    background: var(--gold);
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: var(--white);
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
}
