/* SLIDER */
.slider-wrapper {
  width: 100%;
  max-width: 500px;
}

.slider-wrapper_gallery {
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  font-size: 16px;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--white);
}

/* SLIDER MIXES */
.project_slider {
  margin-top: 50px;
}

.gallery_slider {
  margin-top: 30px;
}

/* SLIDER MEDIA */
@media screen and (min-width: 576px) {
  .slider {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .slider-wrapper {
    width: 60%;
    max-width: none;
  }

  .swiper-pagination {
    position: relative;
  }

  .swiper-pagination-bullet {
    display: inline-flex;
    padding: 5px;
    margin: 0 5px 0 5px;
    background: var(--white);
    border-radius: 50%;
  }

  .swiper-next-custom,
  .swiper-prev-custom {
    position: relative;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
  }

  .slider_gallery {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 2.5em;
    height: 2.5em;
    background: var(--gold);
    border-radius: 50%;
    outline: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.5em;
    color: var(--white);
  }

  .slider-wrapper_gallery {
    display: none;
  }

  .steps_slider-wrapper {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
}
