/* STEPS */
.steps {
  display: none;
  font-size: 16px;
}
/* STEPS MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  .steps {
    display: block;
    background: var(--dark-gray);
    padding-bottom: 100px;
  }
  .steps__sidebar {
    width: 38%;
    display: inline-block;
    position: relative;
  }
  .steps__main {
    width: 60%;
    display: inline-flex;
    flex-direction: column;
  }
  .steps__image {
    display: none;
  }
  .steps__image--active {
    display: block;
  }
  .steps__button-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
  }
  .steps__button-item {
    margin: 50px 0 0 0;
  }
  .steps__button {
    display: flex;
    align-items: flex-start;
    color: var(--white);
    background: transparent;
    border: none;
    text-align: left;
    height: 100%;
    padding: 5px;
    font-size: 1.3em;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
  }
  .steps__button:hover,
  .steps__button:focus {
    outline: none;
    opacity: 1;
  }
  .steps__button:hover.steps__button:before,
  .steps__button:focus.steps__button:before {
    outline: none;
    padding: 0 5px;
    text-align: center;
  }
  .steps__button:before {
    font-size: 1em;
    transition: all 0.3s;
    position: absolute;
    top: -1.4em;
    border-bottom: 2px solid var(--gold);
    font-family: var(--title-font);
  }
  .steps__button:nth-child(1)::before {
    content: attr(data-index);
  }
  .steps__button:nth-child(2)::before {
    content: attr(data-index);
  }
  .steps__button:nth-child(3):before {
    content: attr(data-index);
  }
  .steps__button:nth-child(4):before {
    content: attr(data-index);
  }
  .steps__button:nth-child(5):before {
    content: attr(data-index);
  }
  .steps__button:nth-child(6):before {
    content: attr(data-index);
  }
  .steps__button--active {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
}
