/* TEAM */
.team {
  font-size: 16px;
  background: var(--dark-gray);
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 50px;
  list-style-type: none;
}

.team__item {
  position: relative;
  width: 80%;
  max-width: 300px;
  padding-bottom: 60px;
}

.team__item::before {
  position: absolute;
  z-index: 15;
  width: 70px;
  height: 70px;
  content: '';
  box-shadow: 0 7px 15px rgba(227, 184, 115, 0.25);
  transform: translate(-50%, -50%);
}

.team__item:nth-child(1)::before {
  background: var(--gold) center / 60% url(../../img/icons/idea.png) no-repeat;
}

.team__item:nth-child(2)::before {
  background: var(--gold) center / 60% url(../../img/icons/pen.png) no-repeat;
}

.team__item:nth-child(3)::before {
  background: var(--gold) center / 60% url(../../img/icons/portfolio.png) no-repeat;
}

.team__image {
  position: relative;
  z-index: 9;
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.team__description {
  position: relative;
  left: 50%;
  z-index: 10;
  width: 80%;
  margin-top: -70px;
  background: #fff;
  transform: translateX(-50%);
}

.team__data {
  padding: 1em;
  color: var(--gray);
}

.team__name {
  margin: 0;
  font-family: var(--title-font);
  font-size: 1.2em;
  text-align: center;
  filter: contrast(1.7);
}

.team__prof {
  display: block;
  margin-top: 5px;
  color: var(--gray);
  text-align: center;
}

.team__experience {
  display: block;
  padding: 1em 0.1em;
  font-family: var(--title-font);
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: var(--gold);
}

.team__text {
  display: none;
}

/* TEAM MEDIA */
@media screen and (min-width: 576px) {
  .team {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .team {
    background: linear-gradient(to bottom, var(--dark-gray) 60%, #fff 40%);
  }

  .team__list {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
  }

  .team__text {
    position: relative;
    display: block;
    max-width: 560px;
    margin-top: 70px;
    font-size: 1.1em;
    color: var(--gray);
    text-align: center;
  }

  .team__text::before {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 55px;
    height: 2px;
    content: '';
    background: var(--gold);
    transform: translateX(-50%);
  }

  .team__item {
    padding-bottom: 0;
  }

  .team__description {
    transition: all 0.3s;
  }

  .team__item:hover .team__description {
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.08),
      0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12),
      0 8px 8px rgba(0, 0, 0, 0.12),
      0 12px 12px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 2000px) {
}
