/* TIMELINE */
.timeline {
  padding: 30px 0 50px 0;
}
.timeline__list {
  display: none;
}

/* TIMELINE */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  /* TIMELINE */
  .timeline {
    padding: 130px 0 100px 0;
    font-size: 20px;
  }
  .timeline__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-end;
    width: 60%;
  }
  .timeline__item {
    text-align: left;
    position: relative;
    max-width: 400px;
    padding-left: 5px;
  }
  .timeline__item:before {
    content: attr(data-num);
    font-size: 1.3em;
    font-family: var(--title-font);
    position: absolute;
    color: #fff;
    padding: 0.6em;
    border-radius: 50%;
    background: var(--gold);
    left: -65px;
    top: -50%;
  }

  [data-num='01'] {
    margin-right: 20px;
  }
  [data-num='02'] {
    margin: 105px 227px 0 0;
  }
  [data-num='03'] {
    margin: 133px 156px 0 0;
  }
  [data-num='04'] {
    margin: 129px 78px 0 0;
    max-width: 220px;
  }
  [data-num='01']:before,
  [data-num='04']:before {
    top: 0;
  }
  .timeline__figure_one {
    position: absolute;
    top: -103px;
    left: -452px;
    transform: rotate(12deg);
  }
  .timeline__figure_two {
    position: absolute;
    fill: var(--gold);
    top: 50px;
    left: -7px;
    transform: rotate(-56deg);
  }
  .timeline__figure_three {
    position: absolute;
    fill: var(--gold);
    top: 46px;
    left: -23px;
    transform: rotate(-38deg);
  }
  .timeline__figure_four {
    position: absolute;
    fill: var(--gold);
    top: 52px;
    left: -48px;
    transform: rotate(-24deg);
  }
  .timeline__figure_five {
    position: absolute;
    top: 114px;
    left: -405px;
    transform: rotate(-15deg);
  }
}
@media screen and (min-width: 1200px) {
}
