/* TIMELINE */
.timeline {
  padding: 30px 0;
}

.timeline__list {
  display: none;
}

/* TIMELINE */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 992px) {
  /* TIMELINE */
  .timeline {
    padding: 200px 0 100px 0;
    font-size: 20px;
    background: url(../../img/timeline-bg.webp) no-repeat;
    background-position-x: 15%;
    background-position-y: 25%;
  }

  .timeline__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    list-style-type: none;
  }

  .timeline__item {
    position: relative;
    max-width: 400px;
    padding-left: 5px;
    text-align: left;
  }

  .timeline__item::before {
    position: absolute;
    top: -50%;
    left: -65px;
    padding: 0.6em;
    font-family: var(--title-font);
    font-size: 1.3em;
    color: #fff;
    content: attr(data-num);
    background: var(--gold);
    border-radius: 50%;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.12);
  }

  [data-num='01'] {
    margin-right: 20px;
  }

  [data-num='02'] {
    margin: 105px 227px 0 0;
  }

  [data-num='03'] {
    margin: 133px 156px 0 0;
  }

  [data-num='04'] {
    max-width: 220px;
    margin: 129px 78px 0 0;
  }

  [data-num='01']::before,
  [data-num='04']::before {
    top: 0;
  }

  .timeline__figure_one {
    position: absolute;
    top: -103px;
    left: -452px;
    transform: rotate(12deg);
  }

  .timeline__figure_two {
    position: absolute;
    top: 50px;
    left: -7px;
    fill: var(--gold);
    transform: rotate(-56deg);
  }

  .timeline__figure_three {
    position: absolute;
    top: 46px;
    left: -23px;
    fill: var(--gold);
    transform: rotate(-38deg);
  }

  .timeline__figure_four {
    position: absolute;
    top: 52px;
    left: -48px;
    fill: var(--gold);
    transform: rotate(-24deg);
  }

  .timeline__figure_five {
    position: absolute;
    top: 69px;
    left: -419px;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1200px) {
}
