/* BUTTON */
.button {
  cursor: pointer;
  font-family: var(--caption-font);
  text-transform: uppercase;
  color: var(--white);
  border-radius: 2px;
}
.button:hover {
  filter: contrast(120%);
}
.button_fill {
  background: var(--gold);
  color: white;
  border: none;
}
.button_transparent {
  background: transparent;
}
.button_thin {
  padding: 7px 0;
}
.button_thick {
  padding: 12px 0;
}
/* BUTTON MIXES */
.nav_button {
  display: none;
  width: 160px;
}
.header-content_button {
  justify-self: center;
  margin-top: 1.1em;
  width: 100%;
}
/* BUTTON MEDIA */
@media screen and (min-width: 576px) {
  .nav_button {
    display: block;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
