/* CONTAINER */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
/* CONTAINER MIXES */
.header_container {
}
/* CONTAINER MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
