/* fonts */

@font-face {
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: normal;
  src:
    local('Anton'),
    url('../fonts/FuturaDemiCTT.woff2') format('woff2'),
    url('../fonts/FuturaDemiCTT.woff') format('woff'),
    url('../fonts/FuturaDemiCTT.ttf'),
    url('../fonts/FuturaDemiCTT.eot') format('eot');
}

@font-face {
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  src:
    local('Anton'),
    url('../fonts/FuturaBookC.woff2') format('woff2'),
    url('../fonts/FuturaBookC.woff') format('woff'),
    url('../fonts/FuturaBookC.ttf'),
    url('../fonts/FuturaBookC.eot') format('eot');
}
