@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/css/swiper.min.css';

@import './fonts.css';
@import './properties.css';

@import './page.css';
@import './container.css';
@import './not-working-yet.css';
@import './header.css';
@import './nav.css';
@import './header-content.css';
@import './button.css';
@import './projects.css';
@import './project-card.css';
@import './project-stat.css';
@import './slider.css';
@import './control.css';
@import './title.css';
@import './form.css';
@import './video.css';
@import './check.css';

/* CSS DEGUB SNIPPET  */
/* * {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
* * {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
* * * {
  background-color: rgba(0, 0, 255, 0.2) !important;
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2) !important;
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2) !important;
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2) !important;
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2) !important;
} */
