@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/css/swiper.min.css';

@import './fonts.css';
@import './properties.css';

@import './sections/page.css';
@import './container.css';
@import './not-working-yet.css';
@import './sections/header.css';
@import './nav.css';
@import './header-content.css';
@import './button.css';
@import './single/projects.css';
@import './single/project-card.css';
@import './single/project-stat.css';
@import './sections/slider.css';
@import './sections/control.css';
@import './title.css';
@import './form.css';
@import './single/video.css';
@import './check.css';
@import './sections/types.css';
@import './sections/timeline.css';
@import './sections/gallery.css';
@import './single/exhibition.css';
@import './sections/steps.css';
@import './pagination.css';
@import './single/desk.css';

/* CSS DEGUB SNIPPET  */
/* * {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
* * {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
* * * {
  background-color: rgba(0, 0, 255, 0.2) !important;
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2) !important;
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2) !important;
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2) !important;
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2) !important;
} */
