/* NAV */
.nav {
  background: var(--dark);
  font-size: 16px;
  height: 60px;
}
.nav__inner {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  color: var(--gold);
  font-family: var(--caption-font);
  text-transform: uppercase;
  font-size: 0.8em;
}
.nav__list {
  display: none;
}
.nav__item {
}
.nav__link {
}
.nav__number {
  color: var(--white);
  font-size: 0.8em;
  font-weight: bold;
}
/* NAV MEDIA */
@media screen and (min-width: 576px) {
  .nav__number {
    margin: 0 20px 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .nav__inner {
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    height: 10vh;
    font-size: 24px;
  }
}
