/* NAV */
.nav {
  background: var(--dark);
  font-size: 16px;
  height: 60px;

  &__inner {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__logo {
  color: var(--gold);
  font-family: var(--caption-font);
  text-transform: uppercase;
  font-size: 0.8em;
  z-index: 11;
}
.nav__list {
  display: none;
  margin: 0;
}
.nav__number {
  color: var(--white);
  font-size: 0.8em;
  font-weight: bold;
}
.nav__item {
}
.nav__button {
  font-size: 0.8em;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  color: var(--gray);
  border: none;
  cursor: pointer;
  padding: 3px 7px;
  transition: all 0.3s;
  outline: none;
  border: 2px solid transparent;
}
.nav__button:focus {
  outline: none;
  border-bottom: 2px solid var(--white);
}
.nav__button:hover {
  color: var(--gold);
  opacity: 0.7;
}
.nav__button--active {
  border-bottom: 2px solid var(--gold);
  color: var(--gold);
}
.nav__button--active:hover {
  color: var(--gray);
  border-bottom-color: var(--gray);
  opacity: 0.7;
}
/* NAV MIXES */
.footer_nav {
  display: none;
}
/* NAV MEDIA */
@media screen and (min-width: 576px) {
  .nav__number {
    margin: 0 20px 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .nav {
  }
  .nav__inner {
  }
  .nav__list {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-around;
    font-family: var(--main-font);
    height: 100%;
    flex: 1;
  }
  .nav__item {
    list-style-type: none;
    height: 100%;
  }
  .nav__link {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: var(--white);
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    transition: all 0.2s linear;
    font-size: 0.7em;
    padding: 0 10px;
    border-bottom: 1.5px solid var(--dark);
  }
  .nav__link:hover,
  .nav__link:focus {
    outline: none;
    border-bottom: 1.5px solid var(--white);
  }
  .slider_nav {
    margin-top: 50px;
  }
  .footer_nav {
    display: block;
  }
  .footer_nav .nav__link {
    padding: 2em 0;
    border-top: 1.5px solid transparent;
  }
  .footer_nav .nav__link:hover,
  .footer_nav .nav__link:focus {
    outline: none;
    border-top: 1.5px solid var(--white);
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    height: 10vh;
    font-size: 24px;
  }
  .footer_nav {
    height: auto;
  }
  .nav__link {
    font-size: 0.6em;
  }
}
