@media screen and (min-width: 992px) {
  .not-working-yet:hover:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    text-transform: none;
    left: 0;
    top: -50px;
    width: 270px;
    font-family: var(--main-font);
    color: var(--white);
    font-size: 25px;
    opacity: 0.5;
  }
}
