/* properties */
:root {
  --dark: #131313;
  --dark-gray: #181818;
  --white: #d3d3d3;
  --gray: #4f4f4f;
  --gold: #e3b873;
  --lightgray: #b2b2b2;
  --title-font: Yeseva One;
  --main-font: FuturaBookC;
  --caption-font: FuturaDemiC;
}
