/* SLIDER */
.slider {
}
.slider__list {
  padding: 0;
  margin: 20px 0 0 0;
  width: 100%;
  list-style-type: none;
}
.slider__item {
  display: none;
}
.slider__item img {
  object-fit: cover;
  min-height: 240px;
  height: auto;
  width: 100%;
  max-width: 500px;
}
.slider__item--active {
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  padding: 5px;
  margin: 5px;
  background: var(--white);
}
/* SLIDER MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  .slider {
    width: 55%;
  }
  .slider__item img {
    max-width: none;
  }
}
@media screen and (min-width: 1200px) {
}
