/* SLIDER */
.slider {
}
.slider__list {
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
  list-style-type: none;
}
.slider__item {
  opacity: 0.2;
  display: none;
}
.slider__item img {
  object-fit: cover;
  min-height: 240px;
  height: auto;
  width: 100%;
}
.slider__item--active {
  display: block;
}
/* SLIDER MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
