.stub {
  font-family: var(--title-font);
  width: 400px;
  height: 50px;
  background: var(--dark);
  color: var(--white);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  border: 2px dashed var(--white);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  transform: translate(-50%, 100%);
}

@keyframes stub {
  0% {
    transform: translate(-50%, 100%);
  }
  20% {
    transform: translate(-50%, 0%);
  }
  80% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}
