/* DESK */

/* DESK MEDIA */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  .desk {
  }
  .desk__list {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .desk__item {
    position: absolute;
    display: block;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.7s;
  }
  .desk__item--active {
    position: relative;
    transform: none;
    opacity: 1;
  }
  .desk__counter {
    font-size: 1.4em;
    font-family: var(--title-font);
    color: var(--white);
  }
  .desk__title {
    font-family: var(--title-font);
    color: var(--gold);
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
  }
  .desk__description {
    color: var(--white);
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .desk__description {
    font-size: 1.3em;
  }
}
